@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body {
    font-family: "Momo Trust Display", sans-serif;
    padding: 0;
    margin: 0;
    background: rgb(92, 207, 172);
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.element, .count{
    background: rgb(180, 170, 98);
    border: 6px solid #FFF;
    margin: 20px 0;
}

.text {
    width: 390px;
    padding: 20px;
    box-sizing: border-box;
}

.block img{
    max-width: 390px;
}

.content h1{
    text-align: center;
    margin: 50px 0 40px;
    font-size: 40px;
}

.img + h2, text + h2{
    text-align: center;
    margin:20px 0;
    font-size: 30px;
}

.img{
    text-align: center;
    margin-bottom: 70px;
}

.img img{
    border: 6px solid #FFF;
}