@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body {
    font-family: "Momo Trust Display", sans-serif;
    padding: 0;
    margin: 0;
    background: rgb(92, 207, 172);
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.element, .count{
    background: rgb(180, 170, 98);
    border: 6px solid #FFF;
    margin: 20px 0;
}

.text {
    width: 390px;
    padding: 20px;
    box-sizing: border-box;
}

.block img{
    width: 400px;
}

.content h1{
    text-align: center;
    margin: 50px 0 40px;
    font-size: 40px;
}

.img + h2, text + h2{
    text-align: center;
    margin:20px 0;
    font-size: 30px;
}

.img{
    text-align: center;
    margin-bottom: 70px;
}

.img img{
    border: 6px solid #FFF;
    width: 500px;
}

.container{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 40px;
}

h1{
    color: rgb(27, 120, 157)
}

.elem{
    border: 1px solid grey;
    border-radius: 6px;
    overflow: hidden;
    width: 350px; 
    display: flex;
    flex-direction: column;

}

.top{
    background: rgb(27, 120, 157);
    color: #FFF;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.back{
    background: #FFF;
}

.price{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

.blog_text{
    text-align: center;
    padding: 20px;
    flex-grow: 1; 
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.btn{
    background: rgb(27, 120, 157);
    color: #FFF;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    width: 300px;
    height: 50px;
    padding: 15px 0 15px;
    font-size: 20px;
    margin: 30px 0 30px;
}