ul {
    /* list-style-type: circle;
    list-style-image: url(icon.png);
    list-style-position: inside;
    text-align: center; */
    /* list-style:url(s.gif); */
}
ol {
    /* list-style-type: lower-greek; */
    list-style-image: none;
}
li {
   
    /* background: green; */
    
}
li > ul { list-style:url(s.gif)}