body {
    background-image: url(../img/pattern.png);
}
table {
    background: white;
    width: 2000px;
	height: 400px;
	text-align: center;
    margin: 300px auto;
    border-collapse: collapse;
    font-size: 20px;
    border: 2px solid grey
}

th {
    background-image: url(../img/tablebg.jpg);
    border: 2px solid grey
}
td {
    border: 2px solid grey
}
.row {
    background: grey;
}
